extends layout.pug
include mixins/post-list

block title
    title Welcome to Reddit Clone!!!
    
block content

    body
        .header
            br
            br
            img(src='http://www.iconsdb.com/icons/preview/white/reddit-xxl.png', height='75', width='75')
            br
            h1 Reddit Time

    if loggedInUser
        p
            a(href='/createPost') Create Post
            a(href='/logout') Logout

        #button-box
            .button(type='button') Create Post
            .button(type='button') Subreddits
            .button(type='button') Signup
            
        #button-box2
            a(href='/sort/hot')   
                .button(type='button') HOT
            a(href='/sort/top')
                .button(type='button') TOP

        +postList(posts)