extends layout.pug
include mixins/post-list

block title
    title Welcome to Reddit Clone!!!

block content
    if loggedInUser
        a(href='/logout') 
            .button1(type='button') Logout     
    body
        .header
            br
            br
            img(src='http://www.iconsdb.com/icons/preview/white/reddit-xxl.png', height='75', width='75')
            br
            h1 Reddit Time
            
        #button-box
            a(href='/createPost')
                .button(type='button') Create Post
            a(href='/createPost')
                .button(type='button') Subreddits
            
        #button-box2
            a(href='/sort/hot')   
                .button(type='button') HOT
            a(href='/sort/top')
                .button(type='button') TOP

        +postList(posts)